@import '../../variables_css.scss';
@import '../../functions_css.scss';

@font-face { 
	font-family: 'Inter-Bold';
	src: url('../../assets/fonts/Inter-Bold.eot');
	src: url('../../assets/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/Inter-Bold.woff') format('woff'),
	url('../../assets/fonts/Inter-Bold.ttf') format('truetype'),
	url('../../assets/fonts/Inter-Bold.svg#annabelleregular') format('svg');
	font-display: swap;
}

@font-face {
	font-family: 'Inter-Medium';
	src: url('../../assets/fonts/Inter-Medium.eot');
	src: url('../../assets/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/Inter-Medium.woff') format('woff'),
	url('../../assets/fonts/Inter-Medium.ttf') format('truetype'),
	url('../../assets/fonts/Inter-Medium.svg#annabelleregular') format('svg');
	font-display: swap;
}

.app{
	width: 100%;
	margin-top: 50px;
	font-family: 'Inter-Medium', sans-serif;
	font-size: em(14);
	line-height: 1.143;
	box-sizing: border-box;
}

.conteiner{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}