/*
https://colorscheme.ru/#3i41Tw0w0w0w0
голубой
#009999	#1D7373	#006363	#33CCCC	#5CCCCC
синий
#1240AB	#2A4480	#06266F	#4671D5	#6C8CD5
желтый
#FFAA00	#BF8F30	#A66F00	#FFBF40	#FFD073
оранжевый
#FF7400	#BF7130	#A64B00	#FF9640	#FFB273
*/

$color: #FFFFFF;

$bg_color: #2A4480;
$bg_shadow: #6C8CD5;
$bg_light: #6C8CD5;

$accent: #FF7400;
$accent_bg: #FFE1C8;
$accent_bg_shadow: #FFB06F;
$accent_dark: #A64B00;

$disable: #cacacac0;

